* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  width: 350px;
  border: 1px solid black;
  box-shadow: 1px 1px 10px black;
}

h1 {
  background-color: rgb(186, 189, 192);
  padding: 10px;
  margin-bottom: 5px;
}

form {
  padding: 10px 20px 15px 20px;
  user-select: none;
}

label,
input {
  display: inline-block;
  font-size: large;
  margin-bottom: 5px;
  width: 90%;
}
span{
    font-size: 14px;
    padding: 3px;
    margin-bottom: 5px;
}
input{
    padding: 3px;
}

button{
    background-color: rgb(66, 98, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px 0px rgb(5, 37, 195);
}
button:hover{
    background-color: rgb(50, 84, 255);
}

button:active{
    transition: 0.1s;
    translate: 2px 2px;
    box-shadow: 0px 0px 0px rgb(66, 98, 255);
}